{
  admin off
}

{$GATEWAY_DOMAIN} {
  encode zstd gzip

  @backend path /api* /actuator*
  # Proxy API requests to the Spring Cloud API Gateway running as `api` service
  reverse_proxy @backend {$API_UPSTREAM:api:8080}

  # All other requests go to the web upstream
  reverse_proxy {$WEB_UPSTREAM}
}
